<?xml version="1.0" encoding="UTF-8"?>

<configuration>


    <!-- Console logging -->
    <!--name is the identifier for the appender , telling us where to send the log messages -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <!--converts log messages to a string -->
        <encoder>

            <pattern>
                <!--date and time-->
                %d{yyyy-MM-dd HH:mm:ss}
                <!--log level i.e INFO, WARN, ERROR, DEBUG, -5 means left aligned with width 5 -->
                %-5level
                <!--if logger name is longer than 36 characters, it will be abbreviated -->
                %logger{36}
                -
                <!--print message and go to new line-->
                %msg%n
            </pattern>

        </encoder>

    </appender>



    <!-- File logging -->
    <appender name="FILE"
              class="ch.qos.logback.core.FileAppender">

        <file>logs/ticket-router.log</file>

        <append>true</append>

        <encoder>

            <pattern>
                %d{yyyy-MM-dd HH:mm:ss}
                %-5level
                %logger{36}
                -
                %msg%n
            </pattern>

        </encoder>

    </appender>




    <!-- Application logs -->
    <logger name="com.example.ticket_router"
            level="INFO"/>



    <root level="INFO">

        <appender-ref ref="CONSOLE"/>

        <appender-ref ref="FILE"/>

    </root>


</configuration>